body {
    background-color: aqua;
}

h1 {
    background-color: yellow;
    color: blue;
}

h4 {
    background-color: yellowgreen;
}
button{
    background-color: aquamarine;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    background-color: aquamarine;
    text-align: center;
}