.text-slider {
    position: relative;
    width: 300px;  /* Adjust width as needed */
    height: 50px;  /* Adjust height as needed */
    overflow: hidden;
  }
  
  .text-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: slide 9s infinite;
  }
  
  .text-slide:nth-child(1) {
    animation-delay: 0s;
  }
  
  .text-slide:nth-child(2) {
    animation-delay: 3s;
  }
  
  .text-slide:nth-child(3) {
    animation-delay: 6s;
  }
  
  @keyframes slide {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
  }

/* div {
    height: 60px;
    background-color: black;
    color:white;
}

a {
    margin: 70px;
} */

