.container-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* To prevent the boxes from going out of the screen */
    display: flex;
    justify-content: flex-start; /* Start from the left */
    align-items: center; /* Vertically center the containers */
}

.container-group {
    display: flex;
    animation: moveRight 10s infinite 3s ease-in-out alternate; /* Move all containers together */
}

.container {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    background-color: #4caf50;
}

/* Define the keyframes for the movement */
@keyframes moveRight {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(50vw); /* Move to the center of the screen */
    }
    100% {
        transform: translateX(100vw); /* Move off-screen to the right /* Gradually disappear */
    }
}


/* div {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 2px solid black;
}
h1 {
    color: rgba(255,0,0,1);
}

#container {
    height: 300px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    /* flex-wrap: wrap; */
    /* align-content: flex-start; */
    
/* } */
/* #box1 {
    background-color: rgba(255,0,0,1);
    flex-grow: 2;

}
#box2 {
    background-color: rgba(255,0,0,0.5); */
    /* align-self: flex-end; */
    /* flex-grow: 1;

   
}
#box3 {
    background-color: rgba(255,0,0,0.25);
} */
